body{
	font-family: Roboto;
}
.jumbotron{

	background-color: #ffffff;
	margin:0;
}


.main-btn{
	
	height:100px;
	width:100%;
	font-size: 32px;
	border-color: rgba(0,0,0,0);
	background-color: rgba(200,200,200,1);

}

.external-footer a:focus, 
.external-footer a{
color: gray;
}

.external-footer a:hover{
	color: black;
}

.external-footer{
	background-color: rgba(200,200,200);
	padding:0.75em;
}

.right-contact{

	padding:2em;
}

.left-contact{

	padding:2em;
}


#mainLogo{
	margin:1em;
}
#mainLogo img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#scroll
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.7;
}


